header .container {
  width: 100%;
  height: 45px;
  background-color: #404040;
  opacity: 0.9;
  position: fixed;
  top: 0;
  z-index: 10;
}

header .logo img {
  width: 180px;
  height: 45px;
  float: left;
  opacity: 0.8;
}

header .header-menu {
  margin-right: 20px;
  float: right;
}

header .header-menu a {
  width: 55px;
  line-height: 29px;
  margin-right: 5px;
  background-color: gray;
  transition: all 0.5s;
  opacity: 0.8;
}

header .header-menu a:hover {
  opacity: 1;
}

.main {
  clear: both;
}

.main .container {
  width: 100%;
  padding-top: 45px;
  text-align: center;
}

.main .top-content {
  height: 650px;
  background-image: url(../img/vartical_layout/background.jpg);
  background-size: cover;
}

.main .top-content .heading {
  padding: 150px 0px;
  color: white;
}

.main .top-content h1 {
  letter-spacing: 5px;
}

.main .top-content .signup {
  margin-top: 30px;
}

.main .top-content .signup a {
  background-color: gray;
}

.main-content {
  height: 300px;
  padding: 30px 0px;
}

.main-content .message h2 {
  margin-bottom: 30px;
}

.main-content .message p {
  width: 80%;
  margin: 0 auto;
}

.main .second-content .message {
  width: 50%;
  float: left;
}

.main .third-content {
  background-color: gray;
  clear: both;
}

.main .third-content .message{
  width: 50%;
  float: right;
}

footer .container {
  width: 100%;
  clear: both;
  background-color: black;
  color: white;
}

footer .copyrights {
  text-align: center;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
